NET "algarismo<7>"  LOC = "N13"  ;
NET "algarismo<6>"  LOC = "L14"  ;
NET "algarismo<5>"  LOC = "H12"  ;
NET "algarismo<4>"  LOC = "N14"  ;
NET "algarismo<3>"  LOC = "N11"  ;
NET "algarismo<2>"  LOC = "P12"  ;
NET "algarismo<1>"  LOC = "L13"  ;
NET "algarismo<0>"  LOC = "M12"  ;
NET "an0"  LOC = "K14"  ;
NET "an1"  LOC = "M13"  ;
NET "an2"  LOC = "J12"  ;
NET "an3"  LOC = "F12"  ;
NET "clk"  LOC = "B8"  ;
NET "reset"  LOC = "G12"  ;
NET "switch1" LOC = "P11";
NET "switchEDIT" LOC = "L3";
NET "switchALARM" LOC = "K3";
NET "switchTIMER" LOC = "B4";
NET "switchStopWatch" LOC = "G3";
NET "buttonMODE" LOC = "A7";
NET "buttonINC" LOC = "M4";
NET "buttonTYPEMODE" LOC = "C11";
NET "LED_Alarm" LOC = "P7";
NET "LED_Timer" LOC = "P6";